n8n/workflows/veille-automatisee.json
{
  "name": "Veille Automatisée",
  "nodes": [
    {
      "id": "node-webhook",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 460],
      "parameters": {
        "httpMethod": "POST",
        "path": "trigger-veille",
        "responseMode": "onReceived",
        "responseData": "noData"
      },
      "webhookId": "trigger-veille"
    },
    {
      "id": "node-1",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "weeksInterval": 1,
              "triggerAtDay": [1],
              "triggerAtHour": 7,
              "triggerAtMinute": 0
            }
          ]
        }
      }
    },
    {
      "id": "node-2",
      "name": "Get Active Topics",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300],
      "parameters": {
        "method": "GET",
        "url": "={{ $env.CONVEX_URL }}/api/topics",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.CONVEX_API_KEY }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "node-3",
      "name": "Split Topics",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const d = new Date();\nconst day = d.getDay();\nconst diff = day === 0 ? -6 : 1 - day;\nd.setDate(d.getDate() + diff);\nconst weekStart = d.toISOString().split('T')[0];\n\nreturn $input.all().map(item => ({\n  json: { ...item.json, weekStart }\n}));"
      }
    },
    {
      "id": "node-4",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [900, 300],
      "parameters": {
        "batchSize": 1,
        "options": {}
      }
    },
    {
      "id": "node-5",
      "name": "Build All Feed URLs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 300],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const topic = $input.first().json;\nconst items = [];\n\nfor (const url of (topic.rssUrls || [])) {\n  items.push({\n    json: {\n      feedUrl: url,\n      feedType: 'rss',\n      topicId: topic._id,\n      topicName: topic.name,\n      topicRecipients: topic.recipients,\n      weekStart: topic.weekStart\n    }\n  });\n}\n\nfor (const keyword of (topic.keywords || [])) {\n  items.push({\n    json: {\n      feedUrl: `https://www.bing.com/news/search?q=${encodeURIComponent(keyword)}&format=RSS&setlang=fr&cc=FR`,\n      feedType: 'bing_news',\n      keyword,\n      topicId: topic._id,\n      topicName: topic.name,\n      topicRecipients: topic.recipients,\n      weekStart: topic.weekStart\n    }\n  });\n}\n\nif (topic.customQuery) {\n  items.push({\n    json: {\n      feedUrl: `https://www.bing.com/news/search?q=${encodeURIComponent(topic.customQuery)}&format=RSS&setlang=fr&cc=FR`,\n      feedType: 'bing_news',\n      keyword: topic.customQuery,\n      topicId: topic._id,\n      topicName: topic.name,\n      topicRecipients: topic.recipients,\n      weekStart: topic.weekStart\n    }\n  });\n}\n\nreturn items;"
      }
    },
    {
      "id": "node-6",
      "name": "Fetch All Feeds",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 300],
      "continueOnFail": true,
      "parameters": {
        "method": "GET",
        "url": "={{ $json.feedUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/122.0.0.0 Safari/537.36"
            }
          ]
        },
        "options": {
          "responseFormat": "text"
        }
      }
    },
    {
      "id": "node-7",
      "name": "Normalize Articles",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 300],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const topic = $('Loop Over Items').first().json;\nconst allArticles = [];\n\nfor (const inputItem of $input.all()) {\n  if (inputItem.json.error) continue;\n  const xmlText = inputItem.json.data || '';\n  if (!xmlText || typeof xmlText !== 'string') continue;\n\n  const itemRegex = /<item>([\\s\\S]*?)<\\/item>|<entry>([\\s\\S]*?)<\\/entry>/g;\n  let match;\n  while ((match = itemRegex.exec(xmlText)) !== null) {\n    const itemXml = match[1] || match[2];\n\n    const getTag = (tag) => {\n      const m = itemXml.match(new RegExp(`<${tag}(?:[^>]*)>(?:<!\\\\[CDATA\\\\[)?([\\\\s\\\\S]*?)(?:\\\\]\\\\]>)?<\\/${tag}>`));\n      return m ? m[1].trim() : '';\n    };\n\n    const title = getTag('title');\n    let url = getTag('link');\n    if (!url) {\n      const m = itemXml.match(/<link[^>]*href=\"([^\"]+)\"/);\n      url = m ? m[1] : getTag('guid');\n    }\n    const pubDate = getTag('pubDate') || getTag('published') || getTag('updated');\n    const content = (getTag('description') || getTag('summary') || '').replace(/<[^>]+>/g, '').slice(0, 500);\n\n    if (!title || !url) continue;\n\n    let source = '';\n    try { source = new URL(url).hostname.replace('www.', ''); } catch(e) { source = 'unknown'; }\n\n    allArticles.push({\n      json: { title, url, pubDate, content, source, topicId: topic._id, topicName: topic.name, topicRecipients: topic.recipients, weekStart: topic.weekStart }\n    });\n  }\n}\n\nreturn allArticles;"
      }
    },
    {
      "id": "node-8",
      "name": "Deduplicate by URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1780, 300],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const seen = new Set();\nreturn $input.all().filter(item => {\n  const url = item.json.url;\n  if (!url || seen.has(url)) return false;\n  seen.add(url);\n  return true;\n}).map(item => ({ json: item.json }));"
      }
    },
    {
      "id": "node-9",
      "name": "Filter Last 7 Days",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2000, 300],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const sevenDaysAgo = Date.now() - 7 * 24 * 60 * 60 * 1000;\nreturn $input.all().filter(item => {\n  const pub = new Date(item.json.pubDate).getTime();\n  return !isNaN(pub) && pub >= sevenDaysAgo;\n}).map(item => ({ json: item.json }));"
      }
    },
    {
      "id": "node-10",
      "name": "Sort and Cap at 50",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2220, 300],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "return $input.all()\n  .sort((a, b) => new Date(b.json.pubDate) - new Date(a.json.pubDate))\n  .slice(0, 30)\n  .map(item => ({ json: item.json }));"
      }
    },
    {
      "id": "node-11",
      "name": "Aggregate for LLM",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2440, 300],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const articles = $input.all().map(i => i.json);\nconst topic = $('Loop Over Items').first().json;\n\nif (articles.length === 0) {\n  throw new Error(`Aucun article trouvé pour le sujet \"${topic.name}\" cette semaine.`);\n}\n\nconst articleList = articles.map((a, i) =>\n  `[${i+1}] TITRE: ${a.title}\\nSOURCE: ${a.source}\\nDATE: ${a.pubDate}\\nURL: ${a.url}`\n).join('\\n\\n---\\n\\n');\n\nreturn [{\n  json: {\n    topicId: topic._id,\n    topicName: topic.name,\n    topicRecipients: topic.recipients,\n    weekStart: topic.weekStart,\n    articleCount: articles.length,\n    articleList,\n    rawArticles: articles\n  }\n}];"
      }
    },
    {
      "id": "node-11b",
      "name": "Prepare OpenAI Body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2550, 300],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const d = $input.first().json;\nconst requestBody = {\n  model: 'gpt-5-mini',\n\n  max_completion_tokens: 16000,\n  messages: [\n    {\n      role: 'system',\n      content: 'Tu es un analyste expert en veille stratégique, spécialisé dans le domaine \"' + d.topicName + '\". Tu dois TOUJOURS répondre avec un JSON valide, sans markdown, sans commentaire, uniquement le JSON brut.'\n    },\n    {\n      role: 'user',\n      content: 'Voici ' + d.articleCount + ' articles collectés cette semaine sur le sujet \"' + d.topicName + '\".\\n\\n' + d.articleList + '\\n\\nAnalyse ces articles et réponds UNIQUEMENT avec ce JSON (pas de markdown, juste le JSON brut) :\\n\\n{\"synthesis\": \"Synthèse executive en 5-7 phrases sur les tendances clés de la semaine.\", \"articles\": [{\"title\": \"titre exact\", \"url\": \"url exacte\", \"source\": \"nom de la source\", \"category\": \"Stratégie|Innovation|Marchés|Réglementation|International|Autre\", \"summary\": \"résumé en 1 phrase\"}]}\\n\\nRègles : inclus TOUS les articles, hors sujet = category Autre, n invente rien.'\n    }\n  ]\n};\n\nreturn [{\n  json: {\n    topicId: d.topicId,\n    topicName: d.topicName,\n    topicRecipients: d.topicRecipients,\n    weekStart: d.weekStart,\n    articleCount: d.articleCount,\n    rawArticles: d.rawArticles,\n    requestBody\n  }\n}];"
      }
    },
    {
      "id": "node-12",
      "name": "OpenAI Analysis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2660, 300],
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ $json.requestBody }}",
        "options": {}
      },
      "credentials": {
        "openAiApi": {
          "id": "OTnqwmGPWwgu1Q7B",
          "name": "OpenAi account"
        }
      }
    },
    {
      "id": "node-13",
      "name": "Parse LLM Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2880, 300],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const openAiResponse = $input.first().json;\nconst topic = $('Prepare OpenAI Body').first().json;\nconst raw = openAiResponse.choices?.[0]?.message?.content\n  || openAiResponse.message?.content\n  || openAiResponse.text\n  || '';\n\nif (!raw) throw new Error('LLM_EMPTY_RESPONSE');\n\nlet parsed;\ntry {\n  const cleaned = raw\n    .replace(/^```json\\s*/i, '')\n    .replace(/^```\\s*/i, '')\n    .replace(/```\\s*$/i, '')\n    .trim()\n    .replace(/\\\\(?![\"\\\\\\\/bfnrtu])/g, '\\\\\\\\');\n  parsed = JSON.parse(cleaned);\n} catch (e) {\n  throw new Error('LLM_PARSE_ERROR: ' + e.message + ' | Debut: ' + raw.slice(0, 300));\n}\n\nif (!parsed.synthesis || !Array.isArray(parsed.articles)) {\n  throw new Error('LLM_STRUCTURE_ERROR: synthesis ou articles manquants');\n}\n\nreturn [{\n  json: {\n    topicId: topic.topicId,\n    topicName: topic.topicName,\n    topicRecipients: topic.topicRecipients,\n    weekStart: topic.weekStart,\n    synthesis: parsed.synthesis,\n    articles: parsed.articles,\n    generatedAt: Date.now()\n  }\n}];"
      }
    },
    {
      "id": "node-14",
      "name": "Store in Convex",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3100, 300],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.CONVEX_URL }}/api/results",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.CONVEX_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ topicId: $json.topicId, weekStart: $json.weekStart, synthesis: $json.synthesis, articles: $json.articles, generatedAt: $json.generatedAt }) }}",
        "options": {}
      }
    },
    {
      "id": "node-15",
      "name": "Build HTML Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3320, 300],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const data = $('Parse LLM Output').first().json;\nconst weekLabel = new Date(data.weekStart).toLocaleDateString('fr-FR', {\n  day: 'numeric', month: 'long', year: 'numeric'\n});\n\nconst categoryOrder = ['Stratégie', 'Innovation', 'Marchés', 'Réglementation', 'International', 'Autre'];\nconst byCategory = {};\nfor (const article of data.articles) {\n  const cat = article.category || 'Autre';\n  if (!byCategory[cat]) byCategory[cat] = [];\n  byCategory[cat].push(article);\n}\n\nconst categoryBlocks = categoryOrder\n  .filter(cat => byCategory[cat])\n  .map(cat => {\n    const items = byCategory[cat].map(a =>\n      '<div style=\"margin-bottom:14px;padding-bottom:14px;border-bottom:1px solid #f0f0f0;\">'\n      + '<a href=\"' + a.url + '\" style=\"color:#C0272D;font-weight:600;text-decoration:none;font-size:14px;\">' + a.title + '</a><br>'\n      + '<span style=\"color:#999;font-size:12px;\">' + a.source + '</span>'\n      + '<p style=\"margin:6px 0 0;color:#555;font-size:13px;line-height:1.6;\">' + a.summary + '</p>'\n      + '</div>'\n    ).join('');\n    return '<div style=\"font-size:11px;font-weight:700;color:#C0272D;text-transform:uppercase;letter-spacing:1.5px;border-bottom:2px solid #C0272D;padding-bottom:5px;margin:24px 0 12px;\">' + cat + '</div>' + items;\n  }).join('');\n\nconst html = `<!DOCTYPE html><html><head><meta charset=\"UTF-8\"><meta name=\"viewport\" content=\"width=device-width,initial-scale=1\"></head>\n<body style=\"margin:0;padding:0;background:#f2f2f2;font-family:Arial,Helvetica,sans-serif;\">\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#f2f2f2;\"><tr><td align=\"center\" style=\"padding:24px 16px;\">\n<table width=\"600\" cellpadding=\"0\" cellspacing=\"0\" style=\"max-width:600px;width:100%;background:#ffffff;\">\n<tr><td style=\"background:#C0272D;padding:32px 40px;text-align:center;\">\n  <div style=\"color:#ffffff;font-size:46px;font-weight:300;letter-spacing:4px;line-height:1;font-family:Georgia,serif;\">Schmidt</div>\n  <div style=\"color:rgba(255,255,255,0.9);font-size:12px;letter-spacing:8px;margin-top:4px;font-family:Arial,sans-serif;\">GROUPE</div>\n  <div style=\"height:1px;background:rgba(255,255,255,0.25);margin:18px 0;\"></div>\n  <div style=\"color:#ffffff;font-size:18px;font-weight:600;\">Veille ${data.topicName}</div>\n  <div style=\"color:rgba(255,255,255,0.8);font-size:13px;margin-top:6px;\">Semaine du ${weekLabel} &middot; ${data.articles.length} articles analysés</div>\n</td></tr>\n<tr><td style=\"padding:28px 36px 16px;\">\n  <div style=\"border-left:4px solid #C0272D;padding:14px 18px;background:#fdf5f5;\">\n    <div style=\"font-size:11px;font-weight:700;color:#C0272D;text-transform:uppercase;letter-spacing:1.5px;margin-bottom:8px;\">Synthèse de la semaine</div>\n    <div style=\"font-size:14px;line-height:1.75;color:#333;\">${data.synthesis}</div>\n  </div>\n</td></tr>\n<tr><td style=\"padding:0 36px 36px;\">\n  <div style=\"font-size:11px;font-weight:700;color:#C0272D;text-transform:uppercase;letter-spacing:1.5px;margin-bottom:16px;\">Articles par catégorie</div>\n  ${categoryBlocks}\n</td></tr>\n<tr><td style=\"background:#C0272D;padding:14px 36px;text-align:center;\">\n  <div style=\"color:rgba(255,255,255,0.7);font-size:11px;\">Généré le ${new Date(data.generatedAt).toLocaleString('fr-FR')} &middot; Schmidt Groupe &middot; Veille Automatisée</div>\n</td></tr>\n</table>\n</td></tr></table>\n</body></html>`;\n\nreturn [{\n  json: {\n    ...data,\n    htmlEmail: html,\n    subject: `[Veille ${data.topicName}] Semaine du ${weekLabel} — ${data.articles.length} articles`,\n    to: data.topicRecipients || []\n  }\n}];"
      }
    },
    {
      "id": "node-16a",
      "name": "Prepare ACS Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3540, 300],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const crypto = require('crypto');\nconst data = $input.first().json;\nconst endpoint = $env.AZURE_COMMUNICATION_ENDPOINT;\nconst accessKey = $env.AZURE_COMMUNICATION_ACCESS_KEY;\nconst fromAddress = $env.AZURE_COMMUNICATION_FROM_ADDRESS;\n\nconst bodyObj = {\n  senderAddress: fromAddress,\n  content: { subject: data.subject, html: data.htmlEmail },\n  recipients: { to: (data.to || []).map(addr => ({ address: addr })) }\n};\nconst bodyStr = JSON.stringify(bodyObj);\n\nconst pathAndQuery = '/emails:send?api-version=2023-03-31';\nconst host = endpoint.replace(/^https?:\\/\\//, '').replace(/\\/$/, '');\nconst fullUrl = endpoint.replace(/\\/$/, '') + pathAndQuery;\nconst dateStr = new Date().toUTCString();\n\nconst contentHash = crypto.createHash('sha256').update(bodyStr).digest('base64');\nconst stringToSign = 'POST\\n' + pathAndQuery + '\\n' + dateStr + ';' + host + ';' + contentHash;\nconst signature = crypto.createHmac('sha256', Buffer.from(accessKey, 'base64')).update(stringToSign).digest('base64');\nconst authorization = 'HMAC-SHA256 SignedHeaders=date;host;x-ms-content-sha256&Signature=' + signature;\n\nreturn [{ json: { ...data, _acsUrl: fullUrl, _acsBody: bodyStr, _acsDate: dateStr, _acsContentHash: contentHash, _acsAuthorization: authorization } }];"
      }
    },
    {
      "id": "node-16b",
      "name": "Send Email via ACS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3760, 300],
      "parameters": {
        "method": "POST",
        "url": "={{ $json._acsUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "date", "value": "={{ $json._acsDate }}" },
            { "name": "x-ms-content-sha256", "value": "={{ $json._acsContentHash }}" },
            { "name": "Authorization", "value": "={{ $json._acsAuthorization }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json._acsBody }}",
        "options": {}
      }
    },
    {
      "id": "node-err1",
      "name": "Format Error Alert",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2660, 520],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Silent skip — no email sent on error, continue to next topic\nreturn [{ json: { _skipped: true } }];"
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [[{ "node": "Get Active Topics", "type": "main", "index": 0 }]]
    },
    "Schedule Trigger": {
      "main": [[{ "node": "Get Active Topics", "type": "main", "index": 0 }]]
    },
    "Get Active Topics": {
      "main": [[{ "node": "Split Topics", "type": "main", "index": 0 }]]
    },
    "Split Topics": {
      "main": [[{ "node": "Loop Over Items", "type": "main", "index": 0 }]]
    },
    "Loop Over Items": {
      "main": [
        [],
        [{ "node": "Build All Feed URLs", "type": "main", "index": 0 }]
      ]
    },
    "Build All Feed URLs": {
      "main": [[{ "node": "Fetch All Feeds", "type": "main", "index": 0 }]]
    },
    "Fetch All Feeds": {
      "main": [[{ "node": "Normalize Articles", "type": "main", "index": 0 }]]
    },
    "Normalize Articles": {
      "main": [[{ "node": "Deduplicate by URL", "type": "main", "index": 0 }]]
    },
    "Deduplicate by URL": {
      "main": [[{ "node": "Filter Last 7 Days", "type": "main", "index": 0 }]]
    },
    "Filter Last 7 Days": {
      "main": [[{ "node": "Sort and Cap at 50", "type": "main", "index": 0 }]]
    },
    "Sort and Cap at 50": {
      "main": [[{ "node": "Aggregate for LLM", "type": "main", "index": 0 }]]
    },
    "Aggregate for LLM": {
      "main": [[{ "node": "Prepare OpenAI Body", "type": "main", "index": 0 }]],
      "error": [[{ "node": "Format Error Alert", "type": "main", "index": 0 }]]
    },
    "Prepare OpenAI Body": {
      "main": [[{ "node": "OpenAI Analysis", "type": "main", "index": 0 }]],
      "error": [[{ "node": "Format Error Alert", "type": "main", "index": 0 }]]
    },
    "OpenAI Analysis": {
      "main": [[{ "node": "Parse LLM Output", "type": "main", "index": 0 }]],
      "error": [[{ "node": "Format Error Alert", "type": "main", "index": 0 }]]
    },
    "Parse LLM Output": {
      "main": [[{ "node": "Store in Convex", "type": "main", "index": 0 }]],
      "error": [[{ "node": "Format Error Alert", "type": "main", "index": 0 }]]
    },
    "Store in Convex": {
      "main": [[{ "node": "Build HTML Email", "type": "main", "index": 0 }]],
      "error": [[{ "node": "Format Error Alert", "type": "main", "index": 0 }]]
    },
    "Build HTML Email": {
      "main": [[{ "node": "Prepare ACS Email", "type": "main", "index": 0 }]],
      "error": [[{ "node": "Format Error Alert", "type": "main", "index": 0 }]]
    },
    "Prepare ACS Email": {
      "main": [[{ "node": "Send Email via ACS", "type": "main", "index": 0 }]],
      "error": [[{ "node": "Format Error Alert", "type": "main", "index": 0 }]]
    },
    "Send Email via ACS": {
      "main": [[{ "node": "Loop Over Items", "type": "main", "index": 0 }]],
      "error": [[{ "node": "Format Error Alert", "type": "main", "index": 0 }]]
    },
    "Format Error Alert": {
      "main": [[{ "node": "Loop Over Items", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}
